<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_project.infrastructure.rdb.mapper.ProjectMapper">
<insert id="insertProject">
    INSERT INTO projects
    (
        id,
        name,
        color_id,
        memo,
        user_email
    )
    VALUES
    (
        #{id},
        #{name},
        #{color_id},
        #{memo},
        #{email}
    )
</insert>
<update id="updateProject">
    UPDATE
        projects
    SET
        name = #{name_new}
        , color_id = #{color_id}
        , memo = #{memo}
        , user_email = #{email}
        , updated_at = CURRENT_TIMESTAMP
    WHERE
        name = #{name_old}
        AND
        user_email = #{email}
</update>
<select id="selectByNameAndEmail" resultType="com.example.spring_project.domain.entity.Project">
    SELECT
        id
        ,name
        ,color_id
        ,memo
        ,user_email AS email
        ,created_at AS createdAt
        ,updated_at AS updatedAt
    FROM
        projects
    WHERE
        name = #{name}
        AND
        user_email = #{email}
</select>
<select id="selectByEmail">
    SELECT
        id
        ,name
        ,color_id
        ,memo
        ,user_email AS email
        ,created_at AS createdAt
        ,updated_at AS updatedAt
    FROM
        projects
    WHERE
        user_email = #{email}
</select>
<update id="updateProjectById">
    UPDATE
        projects
    SET
        name = #{project.name}
        , color_id = #{project.color_id}
        , memo = #{project.memo}
        , user_email = #{project.email}
        , updated_at = CURRENT_TIMESTAMP
    WHERE
        id = #{project.id}
</update>
<update id="updateProjects">
    UPDATE
        projects
    SET
        name = ELT(FIELD(id,
            <foreach collection="project_list" item="item" separator=",">
                #{item.id}
            </foreach>
        ),
        <foreach collection="project_list" item="item" separator=",">
            #{item.name}
        </foreach>
        ),
        color_id = ELT(FIELD(id,
            <foreach collection="project_list" item="item" separator=",">
                #{item.id}
            </foreach>
        ),
        <foreach collection="project_list" item="item" separator=",">
            #{item.color_id}
        </foreach>
        ),
        memo = ELT(FIELD(id,
            <foreach collection="project_list" item="item" separator=",">
                #{item.id}
            </foreach>
        ),
        <foreach collection="project_list" item="item" separator=",">
            #{item.memo}
        </foreach>
        ),
        user_email = ELT(FIELD(id,
            <foreach collection="project_list" item="item" separator=",">
                #{item.id}
            </foreach>
        ),
        <foreach collection="project_list" item="item" separator=",">
            #{item.email}
        </foreach>
        ),
        updated_at = CURRENT_TIMESTAMP
    WHERE
        id IN
        (
            <foreach collection="project_list" item="item" separator=",">
                #{item.id}
            </foreach>
        )
</update>
</mapper>