<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_project.infrastructure.rdb.mapper.UserMapper">
<insert id="registerUser" parameterType="com.example.spring_project.domain.entity.User">
INSERT INTO
    users ( ulid, email, name ) 
VALUES 
    ( #{ulid}, #{email}, #{name} )
</insert>
<select id="selectByEmail">
SELECT
    *
FROM
    users
WHERE
    email = #{email}
</select>
</mapper>